/* These inject tags are used for dynamically creating imports for themelet styles, you can place them where ever you like in this file. */

/* inject:imports */

@import 'liferay-font-awesome/scss/font-awesome';
@import 'liferay-font-awesome/scss/glyphicons';

/* endinject */

/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */


.ldxc {

    @import 'material-assets/scss/material-dashboard.scss';

}

#wrapper {
    padding: 0px;
    height: auto;
}

body.open #wrapper {

    padding-left: 0px !important;

}

.has-control-menu .ldxc {

    .sidebar {

        top: 56px;
        height: calc(100vh - 56px);

        .sidebar-wrapper {
            height: auto;
        }

    }

    .main-panel > .content {

        padding: 1rem;
        margin: 0;
        padding-top: 1.5rem;
        background-color: #f1f1f1;

    }
}

.ldxc .breadcrumb {
    background-color: #fff !important;
}

.portlet-barebone {
    .portlet-header {display: none;}
}

.journal-content-article dl dt { display: none }

.header-toparea {
    width: 100%;
    height: 48px;
    background-color: #4f5277;
}

.user-avatar-link {
    float: right;
    margin-right: 40px;
}

div.personal-menu-dropdown .btn {
    border-radius: 5000px;
    background-color: white;
    padding: 0px;
}

.badge-danger {
    border-radius: 50% !important;
    position: absolute;
    top: 35px;
    right: 29px;
}

.badge-item {
    font-size: 10px;
    padding: 1px 2px;
}

li.list-group-item.list-group-item-flex.list-group-item-primary {
    display: flex;
}










