/* These inject tags are used for dynamically creating imports for themelet styles, you can place them where ever you like in this file. */
/* inject:imports */

@import 'liferay-font-awesome/scss/font-awesome';
@import 'liferay-font-awesome/scss/glyphicons';

/* endinject */
/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

@import '../scss/style';

div#p_p_id_com_liferay_product_navigation_user_personal_bar_web_portlet_ProductNavigationUserPersonalBarPortlet_ {
    margin-bottom: -30px;
}

.badge-danger {
	border-radius: 50%;
    position: absolute;
    top: 28px;
    right: -10px;
}

.badge-item {
	font-size: 10px;
    padding: 3px 6px;
}
